#Body {
    padding-left: 0%;
    padding-right: 0%;
}

#HeaderBorder{
    border-color: lightblue;
    border-style: solid;
    position: relative; 
    top: 20%;
    align-content: center;
    height: 200px;

}

#InnerHeaderBorder{
    position: relative;
    height: 200px;
    /* padding-left: 12.5%;
    padding-right: 12.5%; */
}

#HeaderText{
    margin-top: 75px;
    text-align: right;
    padding-right: 5%;
    color: white;
}

#ContextMenu{
    position: relative;
    border-color: gray;
    border-style: solid;
    background-color: lightgray;
    width: 35%;
    top: -66%;
    /* align-content: center; */
    /* padding-left: 15%;
    padding-right: 15%; */
}

#MenuButton{
    border-color: gray;
    border-style: solid;
    background-color: lightgray;
    position: relative;
    width: 100% ;
    align-content: center;
    height: 30px;
    display: table;
    /* display: inline-block; */
}

#HeaderBackdrop{
    position: absolute;
    align-content: center;
    /* //left: -0.02%; */
    width: 100%;
    height: 205px;
    object-fit: cover;
    object-position: 0% 25%;
}

#ContentField{
    border-color: grey;
    border-style: solid;
    background-color: grey;
    height: 200px;
}

@media screen and (max-width: 720px) {

}

@media screen and (min-width: 720px) {
    #Body {
        padding-left: 15%;
        padding-right: 15%;
        background-color: yellow;
    }

    #HeaderBorder{
        
    }
    #InnerHeaderBorder{
        padding-left: 12.5%;
        padding-right: 12.5%;
    }

    #ContextMenu{
        padding-left: 15%;
        padding-right: 15%;
    }

}

@media screen and (min-width: 1000px){
    #Body {
        padding-left: 15%;
        padding-right: 15%;
        background-color: red;
    }
    #InnerHeaderBorder{
        padding-left: 14.75%;
        padding-right: 14%.75;
    }

    #HeaderBorder{
       
    }

    #ContextMenu{
        border-radius: 1%;
        top: 17%;
        align-content: center;
        width: 60%;
        padding-left: 18.125%;
        padding-right: 18.125%;
    }

    #MenuButton{
        border-color: gray;
        border-style: solid;
        border-top-style:none;
        border-bottom-style:none;
        background-color: lightgray;
        position: relative;
        width: 32% ;
        align-content: center;
        height: 30px;
        display: inline-block;
    }

    #HeaderText{
        margin-top: 75px;
        text-align: center;
        color: white;
    }
}