#Body{
    background: black;
    padding-left: 0%;
    padding-right: 0%;
    margin-left: -0.1%;
    margin-right: 0%;
    overflow-x:hidden;
}

#ContentBody {
    position: relative;
    padding-left: 0%;
    padding-right: 0%;
    padding-top: 0.001%;
    align-content: center;
    background: black;
}

#HeaderBorder{
    border-color: black;
    background-color: #262626;
    border-style: solid; 
    position: relative; 
    align-content: center;
    margin-top: -0.51%;
    width: 100%;
    height: auto;
    padding-bottom: 10%;
}

#ProfilePicture{
    position: relative;
    width: 25%;
    margin-left: 37.5%;
    margin-top: 2.75%;
    align-content: center;
    height: auto;
    border-radius: 100px;
}

#InnerHeaderBorder{
    position: relative;
    height: auto;
    align-content: center;
    /* padding-left: 12.5%;
    padding-right: 12.5%; */
}

#HeaderText{
    margin-top: 5px;
    font-size: 330%;
    text-align: right;
   
    color: white;
    align-content: center;
    text-align: center;
}

#ContextMenu{
    position: relative;
    border-color: gray;
    border-style: solid;
    align-content: center;
    text-align: center;
    width: 40%;
    padding-right: 0%;
    margin-left: 30%;
    border-radius: 30px;
    background-color: lightgray;
 
}

#SocialMediaButton{
    position: relative;
    align-content: center;
    text-align: center;
    border-top-style:none;
    border-bottom-style:none;
    border-color: gray;
    background-color: lightgray;
    border-style: solid;
    border-radius: 30px;
    margin-top: 2%;
    margin-bottom: 1%;
    margin-right: 8%;
    margin-left: 8%;
    width: 20px ;
    height: 20px;
    display:inline-block;
}

#SocialMediaButton:hover{
    opacity: 50%;
    cursor:pointer;
}

#HeaderBackdrop {
    position: absolute;
    align-content: center;
    /* //left: -0.02%; */
    width: 100%;
    height: auto;
    object-fit:cover;
    /* object-position: 0% 25%; */
}

#ContentField {
    position: relative;
    /* border-color: grey; */
    background-color: #262626;
    margin-top: 5%;
    /* border-style: solid;
    background-color: grey; */
    width: 100%;
    height: auto;
    object-fit:cover;
}

#ContentFieldHeaderText{
    position: relative;
    text-align:center;
    font-size: 240%;
    margin-top: 0%;
    padding-top: 5%;
    margin-bottom: 5%;
    color: white;
}

#ContentFieldRightColumn {
}

#ContentFieldLeftColumn {
}

#ContentBox {
    position: relative;
    background-color:  #333333;
    border-style: solid;
    width: 100%;

    align-content: center;
    display: inline-block;
    margin-top: 2%;
}

#ContentText{
    position:relative;
    top:5%;
    bottom: 5%;
    right: 5%;
    left: 5%;
    width: 90%;
    align-content:center;
    text-align:left;
    height:fit-content;
    color:white;
    font-size: 105%;
}

#ContentSprite{
    position:relative;
    border-bottom: black;
    border-bottom-style:solid;
    margin-top: 5%;
    margin-bottom: 0%;
    margin-right: 5%;
    margin-left: 5%;
    width: 90%;
}

@media screen and (max-width: 480px) and (orientation: Portrait ) {

}

@media screen and (min-width: 481px) and (orientation: Landscape) {
    #ContentBody {
        padding-left: 15%;
        padding-right: 15%;
        /* background-color: yellow; */
    }

    #HeaderBorder{
        
    }
    #InnerHeaderBorder{
        padding-left: 12.5%;
        padding-right: 12.5%;
    }


}

@media screen and (min-width: 1025px) and (orientation: Landscape){
    #ContentBody {
        position: relative;
        padding-top: 0.001%;
        align-content: center;
        background: black;
        padding-left: 15%;
        padding-right: 15%;
    }

    #HeaderBorder{
        position: relative; 
        border-color: none;
        border-right: none;
        border-left: none;
        border-top: none;
        border-width: 4px;
        border-bottom-style: solid; 
        background-color: #262626;
        border-style: solid; 
        position: relative; 
        align-content: center;
        margin-top: -0.51%;
        width: 100%;
        height: auto;
        padding-bottom: 10%;
    }

    #InnerHeaderBorder{
        /* padding-left: 14.75%;
        padding-right: 14%.75; */
        padding-top: 5%;
        height: auto;
        display: inline-block;
        width: 1150px;
    }

    #ContextMenu{
        position: relative;
        border-color: gray;
        border-style: solid;
        border-radius: 30px;
        background-color: lightgray;
        padding-left: 0%;
        padding-right: 0%;
        margin-top: -2%;
        margin-left: 15%;
        align-content: center;
        text-align: center;
        width: 35%;
        height: auto;
    }

    #SocialMediaButton{
        position: relative;
        border-top-style:none;
        border-bottom-style:none;
        background-color: lightgray;
        margin-top: 1%;
        margin-right: 2%;
        margin-left: 2%;
        margin-bottom: 0%;
        align-content: center;
        text-align: center;
        width: 20px ;
        height: 20px;
        display:inline-block;
    }

    #HeaderText{
        position: relative;
        margin-top: -12%;
        text-align: left;
        font-size: 350%;
        color: white;
        padding-left: 16%;
      
    }

    #ContentFieldHeaderText{
        position: relative;
        text-align:center;
        padding-top: 5%;
        color: white;
    }

    #ContentFieldRightColumn {
        position: relative;
        width: 40%;
        left: 10.25%;
        margin-top: 2%;
        margin-bottom: 7%;
        align-content: center;
        vertical-align: top;
        height: auto;
        display: inline-block;
         /* border-color: greenyellow;
        border-style: solid;  */
    }

    #ContentField {
        position: relative;
        align-content: center;
        /* border-color: grey; */
        background-color: #262626;
        margin-top: 2%;
        margin-bottom: 0%;
        margin-left: 0%;
        margin-right: 0%;
        /* border-style: solid;
        background-color: grey; */
        width: 100%;
        height: auto;
        /* object-fit:cover; */
    }
    
    #ContentFieldLeftColumn {
        position: relative;
        width: 40%;
        left: 8.25%;
        margin-top: 2%;
        margin-bottom: 7%;
        align-content: center;
        vertical-align: top;
        height: auto;
        display: inline-block;
        /* border-color: greenyellow;
        border-style: solid; */
    }
    
    #ContentBox {
        position: relative;
        border-block: white;
        border-radius: 30px;
        border-style: solid;
        width: 100%;
        /* top: -162px; */
        align-content: center;
        display: inline-block;
        margin-top: 5%;
    }
    
    #ContentText{
        position:relative;
        top:5%;
        bottom: 5%;
        margin-right: 5%;
        margin-left: 5%;
        right: 0%;
        left: 0%;
        width: 90%;
        align-content:center;
        text-align:left;
        height:fit-content;
    }
    
    #ContentSprite{
        position:relative;
        border-bottom: black;
        border-bottom-style:solid;
        border-radius: 30px;
        margin-top: 5%;
        margin-bottom: 0%;
        margin-right: 5%;
        margin-left: 5%;
        width: 90%;
    }
    
    #ProfilePicture{
        position: relative;
        width: 12%;
        /* margin-top: 2.75%;
        margin-bottom: 2.75%; */
        margin-left: 0%;
        align-content: center;
        height: auto;
        border-radius: 100px;
    }
}